<!DOCTYPE html>
<html>
<head>	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<title>{{data.name}}</title>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<div style="padding-bottom: 20px">
	<img src="{{data.image}}" alt="{{data.id}}" style="width:100px;height:100px; padding: 20px">
    <h1 style="float: left; padding: 10px"> {{data.name}}</h1>
</div>
<div>
	<table>
  		<tr>
    		<th colspan="2">QUICK STATS</th>
  		</tr>
		<tr>
		    <td>Name</td>
		    <td>{{data.name}}</td>
		</tr>
		<tr>
		    <td>Price</td>
		    <td>&#8377 {{data.current_price}}</td>
		</tr>
		<tr>
		    <td>Market Cap</td>
		    <td>&#8377 {{data.market_cap}}</td>
		</tr>
		<tr>
		    <td>Market Cap Rank</td>
		    <td>{{data.market_cap_rank}}</td>
		</tr>
		<tr>
		    <td>Total Volume</td>
		    <td>&#8377 {{data.total_volume}}</td>
		</tr>
		<tr>
		    <td>24h high&#47low</td>
		    <td>&#8377 {{data.high_24h}} &#47 &#8377 {{data.low_24h}}</td>
		</tr>
		<tr>
		    <td>Circulating Supply</td>
		    <td>{{data.circulating_supply}}</td>
		</tr>
		<tr>
		    <td>Total Supply</td>
		    <td>{{data.total_supply}}</td>
		</tr>
		<tr>
		    <td>Last Updated</td>
		    <td id="date">{{data.last_updated}}</td>
		</tr>

</table>
</div>
</body>
</html>
